<!DOCTYPE html>
<html>
<head>
<title>adminmedicine</title>
</head>
<body bgcolor="#E0E0E0" text="blue">
<center>
<hr><br>
<h2>SHOPS FORM</h2><br>
<hr><br>
<form action="../adminshop.jsp">
Enter your FullName   : <input type="text" name="name"><br><br>
Enter your ShopName   : <input type="text" name="shopname"><br><br>
Enter your ShopId:<input type="text" name="shopid"><br><br>
Enter Your PhoneNumber : <input type="text" name="phno"><br><br>
Enter your Address : <input type="text" name="address"><br><br>
<input type="submit"> <input type="reset">
</center>
</form>
</body>
</html>