<!DOCTYPE html>
<html>
<head>
<title>adminmedicine</title>
</head>
<body bgcolor="#E0E0E0" text="blue">
<center>
<hr><br>
<h2>MEDICINE FORM</h2><br>
<hr><br>
<form action="../adminmedicine.jsp">
Enter your ShopId:<input type="text" name="shopid"><br><br>
Enter your MedicineName   : <input type="text" name="name"><br><br>
Enter your Composition   : <input type="text" name="composition"><br><br>
Enter Your Quaninty : <input type="text" name="quaninty"><br><br>
Enter your Price : <input type="text" name="price"><br><br>
<input type="submit"> <input type="reset">
</center>
</form>
</body>
</html>