<!DOCTYPE html>
<html>
<head>
</head>
<body bgcolor="#B2DFDB" text="#5D4037">
<center>
<hr><br>
<h2>BLOODTEST FORM</h2><br>
<hr><br>
<form action="../bloodtestform.jsp">
Enter your FullName   : <input type="text" name="uname"><br><br>
Enter Age of the Person         : <input type="text" name="age"><br><br>
Choose  your Gender         : <input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female<br><br>
Enter the Test you need : <input type="checkbox" name="tests" value="BloodTest">BloodTest
<input type="checkbox" name="tests" value="Thyroid">Thyroid
<input type="checkbox" name="tests" value="BP">BP
<input type="checkbox" name="tests" value="Sugar">Sugar<br><br>
 Enter your  Full Address : <input type="text" name="address"><br><br>
Enter your  PhoneNumber : <input type="text" name="pno"><br><br>
<input type="submit">  <input type="reset">
</center>
</form>
</body>
</html>