<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
  text-align: center;
  color: red;
}

.top-left {
  position: absolute;
  top: 3px;
  left: 100px;
  color:red;
}
.row{
display:flex;
}
.row img{
width:90;
height:200px;
margin:45px;
}
img {
  border: 3px solid blue;
}
hr.new1 {
  border-top: 2px solid blue;
}
</style>
</head>
<body bgcolor="#FFF59D" text="blue">
<center>
<h2>CHECKUP PAGE</h2>
<hr class="new1">
<br>
</center>
<div class="row">
<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/disease1.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">LUNGS CANCER</div>
</div>

<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/heart.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">HEART DISEASE</div>
</div>

<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/leg.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">LEG PAIN</div>
</div>

<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/stomach.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">STOMACH PAIN</div>
</div>
</div>


<div class="row">
<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/liverdisease.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">LIVER DISEASE</div>
</div>

<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/viraldisease.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">VIRAL DISEASE</div>
</div>

<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/bodypainsdisease.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">BODY PAINS</div>
</div>

<div class="container">
  <a href="checkupform.html">
  <img src="../images/disease/asthama.jpg" alt="Snow" style="width:90%;" height="90">
  <div class="top-left">ASTHAMA</div>
</div>



</body>
</html>
