<!DOCTYPE html>
<html>
<head>
<title>CHECKUPFORM</title>
</head>
<body bgcolor="#E0E0E0" text="blue">
<center>
<hr><br>
<h2>CHECKUP REGISTRATION FORM</h2><br>
<hr><br>
<form action="../checkupform.jsp">
Enter your FullName   : <input type="text" name="uname"><br><br>
Enter Age of the Person         : <input type="text" name="age"><br><br>
Choose  your Gender         : <input type="radio" name="gender" value="Male">Male
<input type="radio" name="gender" value="Female">Female<br><br>
Enter the Problem you are suffering : <input type="text" name="problem"><br><br>
 Enter your  Full Address                  : <input type="text" name="address"><br><br>
Enter your  PhoneNumber                  : <input type="text" name="pno"><br><br>
<input type="submit"> <input type="reset">
</center>
</form>
</body>
</html>
