<!DOCTYPE html>
<html>
<body bgcolor="pink" text="blue">
<center>
<h1>CUSTOMER SERVICE</h1>
<hr>
</center>
<form action="mainpage2.jsp">
  <p>Please select your preferable language:</p>
  <input type="radio" id="telugu" name="TELUGU" value="TELUGU">
  <label for="TELUGU">TELUGU</label><br>
  <input type="radio" id="HINDI" name="HINDI" value="HINDI">
  <label for="hindi">HINDI</label><br>  
  <input type="radio" id="ENGLISH" name="ENGLISH" value="ENGLISH">
  <label for="english">ENGLISH</label><br><br>
  
  <p>Please select your desired option:</p>
  <input type="radio" id="call" name="fav_language" value="CALL">
  <label for="call">CALL</label><br>
  <input type="radio" id="msg" name="fav_language" value="MESSAGE">
  <label for="msg">MESSAGE</label><br><br>
  <input type="text" id="msg" name="fav_language" >
  <br>  <br>

  <input type="submit" value="Submit">
</form>

</body>
</html>

